*{
    margin: 0;
    padding: 0;

} 
h1{
    color: red;
}
.container-fluid{
    background-color: gray !important;
}
.cards{ 
    margin: 20px 10px;
    display: flex;
    justify-content:space-around;
}